<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Do I leak Refer(r)er?</title>
</head>

<body>
    <h1>Do I Leak Refer(r)er?</h1>

    <p style="font-size: 120%;">Go to <a href="/test">the test page</a>.</p>

    <p>
        A simple website to check if your browser is sending the <code>Referer</code> header.
    </p>
    <p>
        See <a
            href="https://developer.mozilla.org/en-US/docs/Web/Security/Referer_header:_privacy_and_security_concerns">MDN</a>
        for background and more info.
    </p>

    <p>
        To use this, embed this image somewhere:

        <code>&lt;img src=&quot;https://doileakreferer.com/image&quot; /&gt;</code>
    </p>

    <img src="/image/index" />

    <p>
        View source on <a href="https://github.com/lacop/DoILeakReferer">GitHub</a>.
        Deployed version: <a
            href="https://github.com/lacop/DoILeakReferer/commit/{{git_version}}"><code>{{git_version}}</code></a>.
    </p>
</body>

</html>