<!doctype html>
<html lang=en>

<head>
    <meta charset=utf-8>
    <title>Do I leak Refer(r)er?</title>
    <style>

    </style>
</head>

<body>
    <h1>Do I Leak Refer(r)er?</h1>

    <p>Go to <a href="/test">the test page</a>.</p>

    <p>
        Simple utility website to help you verify if you are leaking referrer headers.
        See <a
            href="https://developer.mozilla.org/en-US/docs/Web/Security/Referer_header:_privacy_and_security_concerns">MDN</a>
        for background and more info.
    </p>

    <p>
        To use this, embed this image somewhere:

        <code>&lt;img src=&quot;https://doileakreferer.com/image&quot; /&gt;</code>
    </p>

    <img src="/image/index" />
</body>

</html>